<footer class="site-footer">
  <div class="wrapper">
    <div>
      <p>{{ site.description | escape }}</p>
    </div>

    <div class="social-links">
      <ul class="social-media-list">
        <li>
          <a href="{{ 'feed.xml' | relative_url }}">
            {% include icon/rss.svg %}<span>Subscribe</span>
          </a>
        </li>

        {%- if site.github -%}
        <li>
          <a
            rel="me"
            href="https://github.com/{{ site.github }}"
            title="{{ site.github | escape }}"
            >{% include icon/github.svg %}<span>GitHub</span></a
          >
        </li>
        {%- endif -%}
      </ul>
    </div>
    <div class="site-footer-logo">
      <p>Made by <a href="{{site.url}}">Double Great</a>.</p>
    </div>
  </div>
</footer>
