<div class="site-navigation">
  <button
    id="db-menu-button"
    class="site-menu-button"
    aria-label="Toggle menu"
    aria-controls="db-site-menu"
    aria-haspopup="true"
    aria-expanded="false"
  >
    {% include icon/menu.svg %}
  </button>

  <ul id="db-site-menu" role="menu" aria-labelledby="db-menu-button">
    {%- for path in page_paths -%} {%- assign my_page = site.pages | where:
    "path", path | first -%} {%- if my_page.title -%}
    <li role="none">
      <a
        role="menuitem"
        class="page-link"
        href="{{ my_page.url | relative_url }}"
        >{{ my_page.title | escape }}</a
      >
    </li>
    {%- endif -%} {%- endfor -%}
  </ul>
</div>
