<div class="site-navigation">
  <button
    id="db-menu-button"
    class="site-menu-button"
    aria-label="Toggle menu"
    aria-controls="db-site-menu"
    aria-haspopup="true"
    aria-expanded="false"
  >
    {% include icon/menu.svg %}
  </button>
  <nav id="db-site-menu" aria-hidden="true" class="site-menu">
  <ul>
    {%- for path in page_paths -%} {%- assign my_page = site.pages | where:
    "path", path | first -%} {%- if my_page.title -%}
    <li>
      <a
        class="db-page-link"
        href="{{ my_page.url | relative_url }}"
        >{{ my_page.title | escape }}</a
      >
    </li>
    {%- endif -%} {%- endfor -%}
  </ul>
  </nav>
</div>
{%-if site.header_pages-%}
<script>
  var menuButton = document.querySelector("#db-menu-button"),
    menu = document.querySelector("#db-site-menu");

  if (menu && menuButton) {
    menuHide();
    menuButton.addEventListener("click", menuToggle, false);
  }

  function menuToggle(event) {
    if (event.target.getAttribute("aria-expanded") == "false") {
      menuShow();
    } else {
      menuHide();
    }
  }

  function menuShow() {
    menu.setAttribute("aria-hidden", "false");
    menuButton.setAttribute("aria-expanded", "true");
  }

  function menuHide() {
    menu.setAttribute("aria-hidden", "true");
    menuButton.setAttribute("aria-expanded", "false");
  }

  document.addEventListener('focusin', function() {
  const active = document.activeElement;
  if (active.id !== 'db-menu-button' && active.className !== 'db-page-link') {
    menuHide();
  }
}, true);
</script>
{%-endif-%}
