.home {
  .post-list-heading {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;

    .svg-icon {
      width: inherit;
      height: inherit;
      margin-left: -#{$border-thick};
      vertical-align: text-bottom;
    }
  }
  h2 {
    font-size: 1.25rem;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.post-list {
  @extend %unlist;

  li {
    margin-bottom: 2rem;
  }
}

.post-list-cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}

.post-list-card {
  display: block;
  border-radius: 0.25rem;
  box-shadow: 0 0.75rem 1rem -0.25rem rgba(0, 0, 0, 0.1),
    0 0.25rem 0.5rem -0.1rem rgba(0, 0, 0, 0.05);

  &:link,
  &:visited {
    text-decoration: none;
  }
}

.post-list-card-image {
  display: block;
  width: 100%;
  height: 10rem;
  margin: 0;
  object-fit: cover; // stylelint-disable-line plugin/no-unsupported-browser-features
  object-position: bottom center; // stylelint-disable-line plugin/no-unsupported-browser-features
  border-bottom: $border-thin solid $color-barely;
  border-radius: 0.25rem 0.25rem 0 0;
}

.post-list-card-title {
  padding: 0.75rem 1rem;
}
