.wrapper {
  @extend %u-wrap;
}

.button {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  color: var(--color-button);
  font-size: 1rem;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: middle;
  background-color: var(--color-button-text);
  border: $border-thick solid var(--color-button-text);
  border-radius: 0.5rem;
  box-shadow: none;

  &:link,
  &:visited {
    color: var(--color-button);
    text-decoration: none;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: var(--color-button-hover);
    border-color: var(--color-button-hover);
  }

  &:focus {
    @include focus;

    border: $border-thick solid var(--color-text-body);
    box-shadow: none;
  }
}

.svg-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  color: var(--color-text-accent);
}

.skip {
  position: absolute;
  left: -999rem;

  &:active,
  &:focus {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: block;
    padding: 0.5rem 0.75rem;
  }
}

.site-footer {
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: var(--color-background-tertiary);
  background-color: var(--color-background-secondary);

  .svg-icon {
    color: var(--color-border);
  }

  :any-link {
    padding: 0.25rem 0;

    &:link,
    &:visited {
      color: var(--color-border);
      text-decoration: none;
    }

    &:hover {
      color: var(--color-background);

      .svg-icon {
        color: var(--color-background);
      }
    }

    &:focus {
      @include focus-with-shadow;

      .svg-icon {
        color: var(--color-text-body);
      }
    }
  }

  .site-footer-logo :any-link {
    font-weight: $font-weight-black;
  }
}

.social-media-list {
  @extend %unlist;

  :any-link {
    display: inline-block;
    margin-bottom: 0.25rem;
  }

  .svg-icon {
    margin-right: 0.25rem;
  }
}

.social-links {
  margin-bottom: 1rem;
}

.site-header {
  padding: 2rem 0;

  .wrapper {
    display: flex;
    justify-content: space-between;

    .no-js & {
      display: block;
    }
  }

  .site-title,
  .site-navigation {
    display: block;
    max-width: 100%;
  }

  .site-title {
    flex-grow: 1;
    min-width: 0;
    margin-right: 1rem;
  }

  .site-title-inner {
    display: flex;
  }

  .site-navigation,
  .site-title-icon {
    flex-shrink: 0;
  }

  :link,
  :visited {
    text-decoration: none;
  }
}

.site-title {
  font-weight: $font-weight-black;
  letter-spacing: 0.125rem;
  text-transform: uppercase;

  &:hover {
    .site-title-icon {
      background-color: var(--color-link-hover);
    }
  }

  &:focus {
    .site-title-icon {
      background-color: var(--color-text-body);
    }
  }
}

.site-title-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.5rem;
  text-align: center;
  vertical-align: middle;
  background-color: var(--color-link);
  border-radius: 100%;

  svg {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--color-background-tertiary);
  }
}

.post-header {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .post-meta {
    margin-bottom: 0.25rem;
    color: var(--color-text-accent);
  }
}

.post-content {
  max-width: $content-max-width;
  margin: 0 auto;
}

.style-table {
  td {
    display: table-cell;
  }

  .swatch {
    position: relative;
    top: 0.075rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
  }
}

.u-font-weight-light {
  font-weight: $font-weight-light;
}

.u-font-weight-regular {
  font-weight: $font-weight-regular;
}

.u-font-weight-medium {
  font-weight: $font-weight-medium;
}

.u-font-weight-bold {
  font-weight: $font-weight-bold;
}

.u-font-weight-black {
  font-weight: $font-weight-black;
}

.u-font-body {
  font-family: $font-body;
}

%u-line-height {
  display: block;
  text-align: center;
  background-color: var(--color-background-tertiary);
}

.u-line-height-reset {
  @extend %u-line-height;

  line-height: $line-height-reset;
}

.u-line-height-heading {
  @extend %u-line-height;

  line-height: $line-height-heading;
}

.u-line-height-text {
  @extend %u-line-height;

  line-height: $line-height-text;
}

%u-border {
  display: inline-block;
  padding: 0.5rem;
  border: $border-thin solid var(--color-border);
}

.u-border-thin {
  @extend %u-border;

  border: $border-thin solid var(--color-border);
}

.u-border-thick {
  @extend %u-border;

  border: $border-thick solid var(--color-border);
}
