.site-navigation {
  position: relative;

  .pre-js {
    left: -999em;
    display: none;
    opacity: 0;
  }
}

ul[role="menu"] {
  position: absolute;
  top: 100%;
  right: 0;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $color-barely;

  &[aria-hidden="true"] {
    display: none;
  }
}

ul[role="menu"] li {
  margin: 0;
  padding: 0;
}

ul[role="menu"] a[role="menuitem"],
ul[role="menu"] a[role="menuitem"]:visited {
  display: block;
  width: 15em;
  padding: 0.5rem 1rem;
}
.site-menu-button {
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  -webkit-appearance: none; // stylelint-disable-line

  svg {
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: none;
  }

  &:hover {
    svg {
      stroke: $color-link;
    }
  }

  &:focus {
    color: $color-text-body;
    text-decoration: none;
    background-color: $color-highlight;
    outline: $border-thick solid transparent;
    outline-offset: 0;
    box-shadow: 0 -0.125rem $color-highlight, 0 0.25rem $color-text-body;
  }
}
