:root {
  // UI
  --color-darkest: #{$color-darkest};
  --color-highlight: #{$color-highlight};
  --color-background: #{$color-background};
  --color-background-tertiary: #{$color-background-tertiary};
  --color-border: #{$color-border};
  --color-transparent: transparent;
  --color-black-01: rgba(0, 0, 0, 0.1);
  --color-black-05: rgba(0, 0, 0, 0.05);

  // Text
  --color-text-accent: #{$color-text-accent};
  --color-text-body: #{$color-text-body};
  --color-text-heading: #{$color-text-heading};

  // Interactive: links and buttons
  --color-link: var(--color-link);
  --color-link-hover: var(--color-darkest);
  --color-button: #{$color-background};
  --color-button-text: var(--color-link);
  --color-button-hover: var(--color-darkest);
}
