:root {
  // Background
  --color-background: #{$color-background};
  --color-background-secondary: #{$color-background-secondary};
  --color-background-tertiary: #{$color-background-tertiary};

  // UI
  --color-highlight: #{$color-highlight};
  --color-border: #{$color-border};
  --color-transparent: transparent;
  --color-shadow-primary: rgba(0, 0, 0, 0.1);
  --color-shadow-secondary: rgba(0, 0, 0, 0.05);

  // Text
  --color-text-accent: #{$color-text-accent};
  --color-text-body: #{$color-text-body};
  --color-text-heading: #{$color-text-heading};

  // Interactive: links and buttons
  --color-link: var(--color-link);
  --color-link-hover: var(--color-background-secondary);
  --color-button: #{$color-background};
  --color-button-text: var(--color-link);
  --color-button-hover: var(--color-background-secondary);
}
