---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}

  <body class="page-{{page.layout | slugify}} no-js">
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    <script>
      document.body.classList.remove("no-js");
    </script>
    {%-if site.header_pages-%}<script src="{{site.baseurl}}/assets/navigation.js"></script>{%-endif-%}
  </body>
</html>
