---
layout: default
---

<div class="home">
  {%-if page.content_position != 'bottom'-%}{{content}}{%-endif-%}{% assign
  posts = site.posts %} {%- if posts.size > 0 -%} {%- if page.list_title -%}
  <h1 id="content" class="post-list-heading" tabindex="-1">
    {% include icon/bookmark.svg %}{{ page.list_title }}
  </h1>
  {%- endif -%}
  {%- if page.list_type == 'cards' -%}{% include home/cards.html %}{% else %}{% include home/list.html %}{%- endif -%}
  {%- endif -%} {%-if page.content_position == 'bottom'-%}{{content}}{%-endif-%}
</div>
