---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <div class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y"
      -%}
      <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%} ~ {%- assign mdate = page.modified_date |
      date_to_xmlschema -%}
      <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date: date_format }}
      </time>
      {%- endif -%}
    </div>
    <h1 id="content" class="post-title" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
